.App {
  text-align: left;
}

/*Login and Signup Form*/

.form,
.signup-form {
  width: 30%;
  margin: auto;
  margin-top: 20vh;
}

.headers {
  margin-top: 20px;
}

.table-description {
  margin-bottom: 10px;
}

/*QUOTES*/

.quotes {
  margin: 0;
  margin-top: 20%;
  padding: 2%;
  display: grid;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  width: 40vw;
  justify-items: center;
  border-radius: 0.5em;
  box-shadow: 18px 17px 36px -9px rgba(176, 176, 176, 0.74);
}

/*WAVES IN THE BACKGROUND*/

@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}
.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background-image: -moz-linear-gradient(
    top,
    rgba(254, 200, 254, 1) 0%,
    rgba(254, 200, 254, 1) 12%,
    rgba(219, 119, 219, 1) 99%,
    rgba(226, 226, 220, 2) 100%
  );
}
.bgTop {
  z-index: -6;
  opacity: 0.5;
}
.bgMiddle {
  z-index: -7;
  opacity: 0.6;
}
.bgBottom {
  z-index: -5;
}
.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
  background-size: 50% 100px;
  background-image: url("http://front-end-noobs.com/jecko/img/wave-top.png");
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
  -webkit-animation: move-wave 3s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.waveMiddle {
  background-size: 50% 120px;
  background-image: url("http://front-end-noobs.com/jecko/img/wave-mid.png");
}
.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}
.waveBottom {
  background-size: 50% 100px;
  background-image: url("http://front-end-noobs.com/jecko/img/wave-bot.png");
}
.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
}
