body{
  display:grid;
  justify-content: center;
}


.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*Login and Signup Form*/

.form,
.signup-form {
  width: 30%;
  margin: auto;
  margin-top: 20vh;
}

.headers {
  margin-top: 20px;
}

.table-description {
  margin-bottom: 10px;
}

/*QUOTES*/

.quotes{
  margin:0;
  margin-top: 20%;
  padding:1%;
  display: grid;
  border: 1px lightblue solid;
  width: 40vw;
  justify-items: center;
}