.App {
  text-align: left;
}

/*Login and Signup Form*/

.form,
.signup-form {
  margin-top: 10vh;
  margin-right: 10vh;
  padding: 7vh;
  border-radius: 3%;
  background-color: #fdfbfb;
  box-shadow: 14px 14px 25px -4px rgba(166, 166, 166, 0.78);
}

.form {
  width: 35vw;
  margin: auto;
  margin-top: 15vh;
}

.headers {
  margin-top: 20px;
}

.table-description {
  margin-bottom: 10px;
}

/*QUOTES*/

.quotes {
  margin: 0;
  margin-top: 20%;
  padding: 2%;
  display: grid;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  width: 40vw;
  justify-items: center;
  border-radius: 0.5em;
  box-shadow: 18px 17px 36px -9px rgba(176, 176, 176, 0.74);
}

/*WAVES IN THE BACKGROUND*/

@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}
.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background-image: -moz-linear-gradient(
    top,
    rgb(132, 201, 247) 0%,
    rgb(207, 225, 248) 12%,
    rgb(116, 158, 235) 99%,
    rgba(226, 226, 220, 2) 100%
  );
}
.bgTop {
  z-index: -6;
  opacity: 0.5;
}
.bgMiddle {
  z-index: -7;
  opacity: 0.6;
}
.bgBottom {
  z-index: -5;
}
.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
  background-size: 50% 100px;
  background-image: url("http://front-end-noobs.com/jecko/img/wave-top.png");
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
  -webkit-animation: move-wave 3s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.waveMiddle {
  background-size: 50% 120px;
  background-image: url("http://front-end-noobs.com/jecko/img/wave-mid.png");
}
.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}
.waveBottom {
  background-size: 50% 100px;
  background-image: url("http://front-end-noobs.com/jecko/img/wave-bot.png");
}
.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
}

/*Sign Up Page*/

.backgroundColor {
  /* margin-top: 10%; */
  z-index: 1;
  height: 120vh;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.imgSignUp {
  margin-top: 15vh;
  margin-left: 10vh;
  max-width: 90vh;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 2570px) {
  .imgSignUp {
    width: 45vw;
    margin-left: 7vh;
  }

  .signup-form {
    /* width: 100vh; */
    margin-top: 27vh;
    margin-right: 16vh;
    width: 60vh;
  }
}

@media screen and (max-width: 1450px) {
  .imgSignUp {
    width: 55vw;
    margin-left: 5vh;
  }

  .signup-form {
    /* width: 100vh; */
    margin-top: 10vh;
    margin-right: 12vh;
    width: 65vh;
  }
}

@media screen and (max-width: 1100px) {
  .imgSignUp {
    width: 50vw;
    margin-left: 3vh;
    margin-top: 19vh;
  }

  .signup-form {
    /* width: 100vh; */
    margin-top: 13vh;
    margin-right: 10vh;
    float: center;
    width: 55vh;
  }
}

@media screen and (max-width: 770px) {
  .imgSignUp {
    display: none;
  }

  .signup-form {
    /* width: 100vh; */
    float: center;
    width: 80vh;
    margin-right: 30vh;
  }
}

@media screen and (max-width: 440px) {
  .signup-form {
    width: 80vw;
    padding: 5%;
    margin: auto;
    float: center;
    margin-top: 8vh;
    margin-right: 5vh;
  }
}
