.App {
  text-align: left;
  font-family: "Open Sans", sans-serif;
 }

/*Login and Signup Form*/

.form,
.signup-form {
  margin-top: 10vh;
  margin-right: 10vh;
  padding: 7vh;
  border-radius: 3%;
  background-color: #fdfbfb;
  box-shadow: 14px 14px 25px -4px rgba(166, 166, 166, 0.78);
}

.form {
  width: 35vw;
  margin: auto;
  margin-top: 15vh;
}

.headers {
  margin-top: 20px;
}

.table-description {
  margin-bottom: 10px;
}

/*QUOTES*/

.quotes {
  margin: 0;
  margin-top: 10vh;
  
  bottom: 2px;
  right: 2px;
  padding: 2%;
  background-color: #aee1e6;
 
  justify-items: center;
  border-radius: 0.5em;
  box-shadow: 18px 17px 36px -9px rgba(176, 176, 176, 0.74);
  float: right;
  align-content: flex-end;
}

/*Sign Up Page*/

.backgroundColor {
  z-index: 1;
  height: 160vh;
  margin: 0;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  background-image: linear-gradient(-225deg, #b7f8db 0%, #50a7c2 100%);
}

.imgSignUp {
  margin-top: 15vh;
  margin-left: 10vh;
  max-width: 90vh;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 2570px) {
  .imgSignUp {
    width: 45vw;
    margin-left: 7vh;
  }

  .signup-form {
    margin-top: 27vh;
    margin-right: 16vh;
    width: 60vh;
  }

  .form {
    margin-top: 15vh;
    margin-right: 6vw;
    width: 60vh;
  }
}

@media screen and (max-width: 1450px) {
  .imgSignUp {
    width: 55vw;
    margin-left: 5vh;
    margin-top: 19vh;
  }

  .signup-form {
    /* width: 100vh; */
    margin-top: 10vh;
    margin-right: 12vh;
    width: 65vh;
  }
  .form {
    margin-top: 13vh;
    margin-right: 6vw;
    width: 60vh;
  }
}

@media screen and (max-width: 1100px) {
  .imgSignUp {
    width: 50vw;
    margin-left: 3vh;
    margin-top: 19vh;
  }

  .signup-form {
    margin-top: 13vh;
    margin-right: 10vh;
    float: center;
    width: 55vh;
  }

  .form {
    margin-top: 13vh;
    margin-right: 6vw;
    width: 60vh;
  }
}

@media screen and (max-width: 770px) {
  .imgSignUp {
    display: none;
  }

  .signup-form {
    /* width: 100vh; */
    float: center;
    width: 80vh;
    margin-right: 30vh;
  }

  .form {
    margin-top: 15vh;
    margin-right: 25vw;
    width: 60vh;
  }
}

@media screen and (max-width: 440px) {
  .signup-form {
    width: 80vw;
    padding: 5%;
    margin: auto;
    float: center;
    margin-top: 8vh;
    margin-right: 5vh;
  }

  .form {
    margin-top: 15vh;
    margin-right: 10vw;
    width: 55vh;
  }
}


/*Weather*/

 .weather {
  margin-top: 17vh;
} 

.background-container {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 5px;
  width:100%;
  padding:5vh;
margin: 0;
  color: #333;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  /* padding: 1rem 2rem; */
}

.inputAdd{
  box-shadow: 18px 17px 36px -9px rgba(176, 176, 176, 0.74);

}
